.sign-in-wrapper {
  background-position: center ;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("../../assets/images/signIn/sign-in-background-image.jpg");
}

.sign-in-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.sign-in {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 120px 10px 0 10px;
  position: relative;
  flex-grow: 1;

  &__error {
    position: absolute;
    top: 30px;
    background: rgba(236, 19, 19, 0.83);
    padding: 5px 15px;
    border-radius: 9px;
    display: none;

    &.active {
      display: inline-block;
    }
  }

  &__icon {
    width: 80px;
    height: auto;
  }

  &__title {
    margin-bottom: 10px;
    color: rgba(242, 83, 34);
  }

  &__description {
    margin-bottom: 10px;
    color: rgb(203, 203, 203);
  }

  &__link {
    outline: none;
    border: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 15px;
    color: rgba(255, 255, 255);
    background: url('https://na.wargaming.net/clans/static/1.24.0-1.48.0/clansassets/images/v2/button/button-bg-major.png');
    box-shadow: inset 0 0 0 1px rgb(255 176 119 / 10%), inset 0 0 5px 0 rgb(255 255 255 / 50%), 0 1px 2px 0 rgb(0 0 0 / 30%);

    &:active {
      box-shadow: inset 0 0 0 1px rgb(50 20 4 / 15%), inset 0 0 5px 0 rgb(0 0 0 / 50%), 0 1px 1px 0 rgb(0 0 0 / 10%);
    }
  }

  &__info {
    background-color: rgba(0, 0, 0, 0.54);
    padding: 10px;
    color: rgb(122, 122, 122);
    font-size: 12px;
    text-align: left;
  }
}