.search-player {
  color: rgba(255, 255, 255);
  padding: 10px 5px 0 5px;
  position: relative;

  &__title {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    color: rgba(185, 116, 98, 0.7);
  }

  &__description {
    font-size: 12px;
  }

  &__form {
    background: rgba(255, 255, 255, 0.24);
    display: flex;
    height: 35px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid rgb(255, 255, 255, 0.24);
    margin-bottom: 10px;
    &:has(.search-player__input:focus) {
      border: 2px solid rgb(171, 171, 171);
    }
  }

  &__input {
    background: none;
    outline: none;
    border: none;
    color: rgb(199, 199, 199);
    flex-grow: 1;
    font-size: 17px;
    padding-right: 5px;
  }

  &__button {
    background: none;
    outline: none;
    border: none;

    img {
      height: 100%;
    }
  }

  &__error {
    display: none;
    top: 55px;
    left: 15px;
    position: absolute;
    font-size: 11px;
    color: rgba(255, 0, 0,);
    background: rgba(112, 112, 112, 0.53);
    padding: 5px 10px;
    border-radius: 0 10px 10px 11px;

    &.active {
      display: block;
    }
  }

  &__results {
    color: rgb(96, 96, 96);
    margin-bottom: 15px;
  }
}