.wrapper {
  background-position: 0 0 ;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("../../assets/images/account/account-bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.account-main {
  max-height: calc(100vh - 100px);
  flex: 1 1 auto;
  position: relative;
  z-index: 5;
}